

.main-flyout-enter {
    position: absolute;
    transform: translateX(-110%);
}

.main-flyout-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease;
}

.main-flyout-exit {
    position: absolute;
}

.main-flyout-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.options-menu-enter {
    opacity: 0;
    transform: scale(0.9);
}

.options-menu-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.options-menu-exit {
    opacity: 1;
}

.options-menu-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
